body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #EE82EE;
}

header {
  background-color: #333;
  color: #FFF;
  padding: 20px;
  text-align: center;
  font-family: "Impact", Georgia, Serif;
  font-weight: 1000;
  color: #C71585;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
  text-align: center;
}

.product-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 40px;
  font-family: "Times New Roman", Georgia, Serif;
  font-weight: 800;
  color: #800000;
}

.product-item {
  border: 2px solid #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Georgia, Serif;
}

.product-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  font-family: "Times New Roman", Georgia, Serif;
}

.api-section {
  margin-bottom: 40px;
  font-family: "Times New Roman", Georgia, Serif;
}

.owner-section {
  text-align: center;
  font-family: "Times New Roman", Georgia, Serif;
}

.owner-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: "Times New Roman", Georgia, Serif;
}

.owner-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  font-family: "Times New Roman", Georgia, Serif;
}

.owner-details {
  text-align: left;
  font-family: "Times New Roman", Georgia, Serif;
}

h2 {
  margin-bottom: 10px;
}

/* Медиазапрос для мобильных устройств */
@media screen and (max-width: 600px) {
  header {
    font-size: 24px;
  }

  .product-section {
    grid-template-columns: 1fr;
  }

  .product-item {
    width: 100%;
    padding: 10px;
  }

  .owner-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .owner-info img {
    margin-bottom: 10px;
  }
}
